.home {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  justify-items: center;
  align-items: center;
  background-color: rgb(253, 253, 254);
  height: 90vh;
  background-image: url("/public/carbon-home.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home a {
  grid-row: 2;
  margin-top: 22rem;
  text-decoration: none;
  color: rgb(241, 241, 241);
  font-weight: 800;
}

.home #carbon-footprint{
  color: #000000;
}
.start {
  background-color: #222222;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none; /* Remove underlines from the link */
  display: inline-block;
  font-size: 1em;
  height: fit-content;
  width: fit-content;
}

.start a {
  text-decoration: none;
}

.start:hover {
  background-color: #000000;
  transform: translateY(-2px);
}
.start:active {
  background-color: #222222;
  transform: translateY(2px);
}
.start-link {
  color: white;
  text-decoration: none;
}
