.results {
    /* margin-top: 2%; */
    display: grid;
    grid-template-rows: auto;
    border: none;
    border-radius: 10px;
    background-color: #f4f4f4;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    /* Responsive padding */
    padding: 2% 5%;
}

.results h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
    color: #5a5a5a;
}

.results-chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Responsive chart for small screens */
@media (max-width: 768px) {
    .results-chart {
        grid-template-columns: 1fr; /* Stack them on top of each other */
    }
}

.monthly {
    text-align: center;
    padding: 10px;
}

.monthly span {
    font-size: 2rem;
    color: #333;
}

.monthly h4 {
    background-color: transparent;
    color: #333;
    padding: 5px;
    font-size: 1.2em;
    transform: skew(0);
    border: none;
}

.flags {
    grid-row: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Responsive flags for small screens */
@media (max-width: 768px) {
    .flags {
        flex-direction: column; /* Stack flags vertically */
    }
}

.flags img {
    max-height: 90px;
    width: auto;
}

.flags span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-links {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

/* Responsive result links for small screens */
@media (max-width: 768px) {
    .result-links {
        flex-direction: column; /* Stack links vertically */
        align-items: center;
        padding: 10px;
    }
}

.disclaimer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
}

/* General responsive text sizing */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Smaller font size for small screens */
    }
    .monthly span {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
