/* @media (max-width: 450px) { */
    .tips {
        display: grid;
        border-radius: 5%;
        grid-template-rows: .3fr .5fr 2fr;
        justify-items: center;
        height: 80vh;
    }
    .tips h1 {
        grid-row: 1;
    }
    .tip-category {
        width: 40vw;
        height: fit-content;
        background-color: #77b46b ;
        border: 1px solid #77b46b;
        border-width: 2px;
        border-style: outset;
    }
    .tip-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4%;
        align-items: center;
    }
    
    .show-tips {
        grid-row: 3;
        display: grid;
        grid-template-rows: .6fr ;
        grid-auto-rows: 12%;
        align-items: center;
        row-gap: 1%;
        font-size: 1.2em;
        width: 80%;
        margin-top: 10%;
        border: 1px solid #1e4a6b;
        border-width: 5px;
        border-style: inset;
        border-radius: 5%;
        padding: 5%;
        background-color:#3a9ce8;
        height: 90%;
        align-self: center;
    }
    .show-tips h2 {
        margin: 0;
        justify-self: center;
    }
    .show-tips li {
        list-style: none ;
        display:grid;
        grid-template-columns: .1fr 1fr;
    }
    .show-tips li span {
        margin-left: 4%;
        grid-column: 2;
    }
    .show-tips h3 {
        text-align: center;
        margin-top: 0;
    }
    .tips-gif {
        height:170px ;
        margin-left: auto;
        margin-right: auto;
        
    }
/* } */