* {
  font-family: "Signika", sans-serif;
  /* font-family: "Signika Negative", sans-serif; */
  /* font-family: "M PLUS Rounded 1c", sans-serif; */
  /* background-color: rgb(230, 234, 239); */
}

.next {
  background-color: #222222;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none; /* Remove underlines from the link */
  display: inline-block;
  font-size: 1em;
  height: fit-content;
  width: fit-content;
}

.next:hover {
  background-color: #000000;
  transform: translateY(-2px);
}
.next:active {
  background-color: #222222;
  transform: translateY(2px);
}